:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }



.mcd { 
    background-color: rgba(128, 128, 128, 0.199);
    border: .1px solid red;
}

.ctn {
    background-color: blue;
}

/* campo pra edicação  */

body {
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans';
    color: var(--text-color);
    fill:var(--text-color);
    text-decoration: none;
}

a:active, a:focus, a:hover, a:link {
    
    color: var(--text-color);
    
}


.container { 
    
}
.border1 {
    
}

.bg-teck {
    background-color: var(--bg-techs);
    color: var(--body-bg-color);
    border-radius: 30px;
    text-transform: uppercase;
    padding-top: 4px;
    height:24px ;
    width: 85px;
    
}

.bg-cards { 
    background-color: var(--bg-cards);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
   
}

.font-1 {
    font-weight: 400;
    font-size: 12px;
}
.font-2 {
    font-weight: 500;
    font-size: 16px;
}

.font-3 {
    font-weight: 600;
    font-size: 20px;
}




.icon1 {
    fill:var(--text-color);
 }

 .maps {
    
}

.mt-n1 {
   margin-top: -.9rem !important;
 }
 .mt-n2 {
   margin-top: -1.1rem !important;
 }


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body {
        
    }
 
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    body {
        
    }
}
  

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
body {
    

}
}



/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    body {
        
    }

    
 }
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

